include mixins.pug
block vars    
  - title = strip_html((page.title||(config.subtitle))+' - '+config.title)
  - desc = truncate(strip_html(page.excerpt||page.content), {length: 300, separator: ' '})
doctype html
html(lang='cs')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')    
  
    title #{title}
    
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='last-modified', content=date(page.date, 'YYYY-MM-DD'))
    meta(name='description', content=desc)
    meta(property='og:type', content='website')
    meta(property='og:title', content=strip_html((page.title||(config.subtitle))+' - '+config.title))
    meta(property='og:description', content=desc)
    meta(property='og:url', content=page.permalink)
    meta(property='og:image', content=url_for('/asset/image/family.jpg'))
    block styles
      link(scoped='', rel='stylesheet', href='https://assets.domena.cz/assets/_styles/vizitka.css')
      link(rel='stylesheet', media='all', href='https://fonts.googleapis.com/css?family=Raleway:400,700|Courgette:400&subset=latin-ext')
      link(scoped='', rel='stylesheet', href='https://assets.domena.cz/assets/hamster/0.1/style.css')
      link(scoped='', rel='stylesheet', href='https://assets.domena.cz/assets/hamster/0.1/build.css')
      link(scoped='', rel='stylesheet', href='https://assets.domena.cz/assets/hamster/0.1/build.css')
      | !{css('asset/style/mondoshawan.css')}
    block scripts
  body.vizitka.writing.lightseagreen
    // BODY
    block body
      .content
        .head-wrapp.config-block.title-image
          .head
        .right-side
          .header
            .logo-text-container
              h1.logo.config-block Spolek Mondoshawan
            h2.slogan.config-block Shine your light, kids club
            .action-button-container
              each link,title in config.nav
                a.action-button.config-block(href=link)                  
                  .button-text #{__(title)}
          .info-block
            .side-left
              .info-box
                .info.config-block.small-info-text
                  block content              
                    include stories.pug
                    +paginate(page)
            .side-right
              .side-right-max
                span#contact.label Kontakt
                .address-box
                  address.contacts.config-block
                    span
                      a(href='https://www.mondoshawan.cz/') www.mondoshawan.cz
                    span
                      a(href='mailto:kids@mondoshawan.cz') kids@mondoshawan.cz
                    span +420 721 190 023  
                    span Bani Christine Cutajar
                    span Jo Robert Cutajar
          // FOOTER
          .footer
            a(href=url_for('/en/2018/04/12/Website-is-up/')) Připravil to Jo, předžvýkal to Hexo a servíroval Netlify.

