

mixin postinfo(page)
  if is_post()
    .postinfo
      time(datetime=page.date) #[span.desc #{__('Published on')}] #[span.value #{date(page.date)}]
      if page.lang
        span.lang  #[span.desc #{__('in language')}] #[span.value #{page.lang}]
      if page.author
        span.author  #[span.desc #{__('by author')}] #[span.author #{page.author}]

mixin paginate(page)

  - paginate = ( page.next || page.prev ) && true
  - prevlink = page.prev && ( page.prev.path || page.prev_link)
  - nextlink = page.next && ( page.next.path || page.next_link)
  - prevtext = page.prev && ( page.prev.title || __('More recent posts'))
  - nexttext = page.next && ( page.next.title || __('Older posts'))
    
  if paginate
    .paginator
     
      if page.prev
        .prevpage
          if is_post()
            | #{__('Newer post')}:  
          a(href=url_for(prevlink))
            i(class="fa fa-arrow-left", aria-hidden="true")
            | #{prevtext}
            
      if page.posts
        .curpage #{__('Page #%s of %s',page.current, page.total)} 
          if page.archive
            |  - archive 
          if page.year 
            |  from #{page.year}
            if page.month
              | /#{page.month}
                    
      if page.next
        .nextpage
          if is_post()
            | #{__('Older post')}:  
          a(href=url_for(nextlink))
            i(class="fa fa-arrow-right", aria-hidden="true")
            | #{nexttext}
    
