if page.posts
  ul.posts
  
  

    each post in page.posts.map(function(item){return item;})
      if post
        li 
          a.post(href=url_for(post.path)) #{post.title} 
          .postinfo
            | #{__('Published on')} #[span.date #{date(post.date)}]
            if post.lang
              |  #{__('in language')} #[span.lang #{post.lang}]
            if post.author
              |  #{__('by author')} #[span.author #{post.author}]
          if is_home()
            .postcontent
              | !{post.excerpt || post.content}  
              if post.more
                a.more(href=url_for(post.path)) #{__('Read more...')}
      else
        li Empty post? #{post}.
      
  //-
    - page.posts.each(function (item) {
      a.post-title-link(href= url_for(item.path))
        != item.title
      .postcontent
        != item.content        
    - })
else
  p That's an empty #{page.layout}.
