.vizitka .head {
  background: url("../image/family.jpg") center no-repeat;
}
.vizitka.lightseagreen .content .header,
.vizitka.lightseagreen .content .info-block {
  background-color: #fff5d9;
}
.vizitka .info-block .side-right {
  border-color: white;
  border-width: 5px;
}
.vizitka .info-block .side-right .address-box {
  border: none;
}
.vizitka .footer a::after {
  background: none;
}